*,html,body{ 
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
   
}
section{
    max-width: 1350px;
    background: forestgreen;
}