@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
$fontFamily: 'Hammersmith One', sans-serif ;
$colortext: #FFFFFF;
$colorSlide: #8DD83D ;


*, body, html{ 
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    line-height: 1.5;
    border: none;
    outline: none;
   
}
.header_section{
    max-width: 100%;
    
    background: #373A3C;
    margin: 0 auto;
}
.header_main{
    margin: 0px auto;
    max-width: 95%;
    
    

}
.container{
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px;
    
}
.block_main__header_end{
    display: flex;
    text-align: center;
}
.main_block{
    display: flex;
    
    }
    li{
        display: inline-block;
        position: relative;
        right: 35px;
        &:hover{
            cursor: pointer;
        }

        a{
            display: block;
            margin-right: 25px;
            color: $colortext;
            font-family: $fontFamily;
            font-weight: 400;
            font-size: 20px;
        }

    }


.input_header{
    width: 200px;
    height: 38px;
    border-radius: 5px;
}
.forma_block{
    position: relative;
    bottom: 8px;
    right:  25px;
    
}
.heder_end{
    .item_icon{
        width: 20px;
        height: 20px;
    }

    a{
        color: $colortext;
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 20px;
    }
}


// Slader
// .slick-dots {
//     display: flex;
//     justify-content: center;
//   }
  
//   .slick-dots li button {
//     line-height: 0;
//     font-size: 0;
//     width: 15px;
//     height: 15px;
//     background: $colorSlide;
//     border-radius: 50%;
//     margin: 0 7px;
//   }
  
//   .slick-dots li button:before {
//     content: '';
//   }
  
//   .slick-active button {
//     box-shadow: 0 0 10px 0 #00000040;
//     border: 1px solid $colorSlide !important;
//   }
  
//   .slick-prev, .slick-next {
//     position: absolute;
//     font-size: 0;
//     background: none;
//     top: 50%;
//     width: 15px;
//     height: 15px;
//     border-right: 2px solid $colorSlide;
//     border-top: 2px solid $colorSlide;
//     cursor: pointer;
//     z-index: 1000;
//   }
  
//   .slick-prev {
//     transform: rotate(225deg);
//   }
  
//   .slick-next {
//     transform: rotate(45deg);
//     right: 0;
//   }
//   end slider 
.tabs {
    text-align: center;
    
    padding-top: 20px;
    input{
        width: 15px;
        height: 15px;
        border: 1px solid $colorSlide;
        border-radius: 50px;
        background: $colortext;
        cursor: pointer;
        
        &:hover{
            background: $colorSlide;
            
        }
    }
    
    
    
}
.Star_wars{
    position: relative;
    z-index: 1;
   


}
.star_text{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    left: 60%;
    top: 300%;
    z-index: 11;

    
   

}

.block_on{
    
    h2{
        
        position: relative;
        z-index: 11;
        color: #FFFFFF;

    }
    span{
        position: relative;
        z-index: 11;
        color: #FFFFFF;

    }
}

.botton_star{
    margin-top: 45px;
    
    .btn_star{
        position: relative;
        z-index: 11;
        color: #FFFFFF;

    }
    .star_btn{
        position: relative;
        z-index: 11;
        color: #FFFFFF;
    }
}
.call_of{
    position: ;



    

}








