@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
*, body, html {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  line-height: 1.5;
  border: none;
  outline: none;
}

body._lock {
  overflow: hidden;
}

.header_section {
  max-width: 100%;
  height: 860px;
  background: #373A3C;
  margin: 0 auto;
}

.header_menu {
  margin: 0px auto;
  max-width: 95%;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 25px;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  display: inline-block;
  position: relative;
  right: 35px;
}

li:hover {
  cursor: pointer;
}

li a {
  display: block;
  margin-right: 25px;
  color: #FFFFFF;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.logo_block {
  position: relative;
  z-index: 16;
}

.menu_icon {
  display: none;
}

.input_header {
  width: 200px;
  height: 38px;
  border-radius: 5px;
}

.forma_block {
  position: relative;
  bottom: 8px;
  right: 25px;
}

.heder_end .item_icon {
  width: 20px;
  height: 20px;
}

.heder_end a {
  color: #FFFFFF;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.block_on {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 60%;
  z-index: 11;
  top: 53%;
}

.botton_star {
  position: relative;
  margin-right: 25px;
  text-align: center;
  padding: 10px 25px;
  border-radius: 6%;
  background: #686C6F;
}

.botton_star .star_btn {
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.botton_star:hover {
  background: #8DD83D;
}

.flex_block {
  position: relative;
  margin-left: 5px;
  text-align: center;
  padding: 10px 25px;
  border-radius: 6%;
  background: #686C6F;
}

.flex_block .btn_star {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.flex_block:hover {
  background: #8DD83D;
}

.tabs {
  position: relative;
  text-align: center;
  padding-top: 0px;
}

.tabs input {
  width: 15px;
  height: 15px;
  border: 1px solid #8DD83D;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}

.tabs input:hover {
  background: #8DD83D;
}

.photo_bac {
  display: none;
}

.best_wrap {
  max-width: 100%;
  height: 860px;
  background-color: #435766;
  margin: 0 auto;
}

.container_wrap {
  margin: 0 auto;
  width: 100%;
}

.img_wrap {
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.text_item {
  text-align: center;
  margin: 0 auto;
}

.text_item h1 {
  color: #FFFFFF;
  font-size: 60px;
  font-family: "Gowun Batang", serif;
}

.text_item p {
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Gowun Batang", serif;
}

.block_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 60px;
}

.wrap_block {
  width: 318px;
  height: 420px;
  background-color: #FFFFFF;
}

.wrap_block h6 {
  color: #435766;
  font-size: 18px;
  font-family: "Gowun Batang", serif;
}

.wrap_block p {
  padding-top: 20px;
  color: #435766;
  font-size: 24px;
  font-family: "Gowun Batang", serif;
}

.wrap_block .img_wraper {
  padding: 30px;
  text-align: center;
}

.wrap_block .img_wraper_one {
  padding: 60px;
  text-align: center;
}

.botton {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px 10px;
  border-radius: 5px;
  background: #8DD83D;
  margin-top: 35px;
  width: 300px;
}

.botton:hover {
  background-color: #686C6F;
}

.botton .btn_wrap {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */